<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Prueba de SpringMVC-Angular </title>
	<link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css"/>
</head>
<body>
<h2>Videoteca</h2>
<div data-ng-app="films">
	<!-- Placeholders para las Vistas-->
	<div data-ng-view=""></div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="app.js"></script>
<script src="principal/principal.js"></script>
<script src="filmes/filmes.js"></script>
</body>
</html>
